*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
    border: solid 3px red;
    background-image: url(https://pbs.twimg.com/profile_images/1785962874206052352/1i32rec9_400x400.png);
    background-size: cover;
}
#menu{
    
    display: flex;
    gap: 20px;
}
#menu > a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#menu > a:hover{
    opacity: 0.8;
}
#jogosIndie{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}
.jogoIndie{
    border: solid 3px red;
    width: 20vw;
    min-height: 60vh;
    
}









@media (width < 450px){
    #menu > a{font-size: 15px; text-align: center;}
    header{flex-direction: column; padding: 10px; gap: 10px;}
    #menu{flex-direction: column; gap: 2px;}
}
@media (width < 770px){
    #menu > a{font-size: 15px; text-align: center;}
    header{flex-direction: column; padding: 10px; gap: 30px;}
    
}